<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row pad-left-right">
                    <span class="title pull-left">People peoples</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <app-people-item *ngFor="let people of messages" [people]="people"></app-people-item>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <app-people-edit></app-people-edit>
            </div>
        </div>
    </div>
</div>
